<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.straw.faq.mapper.AnswerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tedu.straw.commons.model.Answer">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="user_id" property="userId"/>
        <result column="user_nick_name" property="userNickName"/>
        <result column="question_id" property="questionId"/>
        <result column="accepted_status" property="acceptedStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="like_count" property="likeCount"/>
    </resultMap>

    <resultMap id="answersMap" type="cn.tedu.straw.commons.model.Answer">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="user_id" property="userId"/>
        <result column="user_nick_name" property="userNickName"/>
        <result column="question_id" property="questionId"/>
        <result column="accepted_status" property="acceptedStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="like_count" property="likeCount"/>
        <collection property="comments" javaType="java.util.List" ofType="cn.tedu.straw.commons.model.Comment">
            <id column="comment_id" property="id"/>
            <result column="comment_user_id" property="userId"/>
            <result column="comment_user_nick_name" property="userNickName"/>
            <result column="comment_answer_id" property="answerId"/>
            <result column="comment_content" property="content"/>
            <result column="comment_create_time" property="createTime"/>
        </collection>
    </resultMap>

    <select id="findAnswersByQuestionId" resultMap="answersMap">
        select a.id,
               a.content,
               a.like_count,
               a.user_id,
               a.user_nick_name,
               a.question_id,
               a.create_time,
               a.accepted_status,
               c.id             as comment_id,
               c.user_id        as comment_user_id,
               c.user_nick_name as comment_user_nick_name,
               c.answer_id      as comment_answer_id,
               c.content        as comment_content,
               c.create_time    as comment_create_time
        from answer a
                 left join comment c on a.id = c.answer_id
        where a.question_id = #{questionId}
        order by a.create_time, c.create_time
    </select>

</mapper>
